<html>
<head><title>Login</title></head>
<body>
  <div>
    <h4>Login</h4>
    </div>
    <div id='divloginform'>
      <form id="formlogin">
        <label>Username</label>
        <input type="text" id="inputUsername" placeholder="Enter Username" required>
        <br><br>
        <label>Password</label>
        <input type="password" id="inputPassword" placeholder="Enter Password" required>
        <br><br>
        <input type="button" value="Login" onclick="validate()">
        <p id="errormessage"></p>
        </form>
      </div>
      <div id="divgotoregister">
      <a id="gotoregister" href="register.html">Register</a></div>
  </body>
  	<script src="login.js" type="text/javascript"></script>
  </html>
