<html>
	<head>
		<title>My Shop</title>
		  <link rel="stylesheet" href="commonstyle.css">
	</head>
	<body onload="getStoredProducts()">
		<div id="menu" >
			<ul style="background-color:limegreen">
						<li style="float:left"><a href="/listproducts" >Shop</a></li>
						<li style="float:left"><a href="/checkout">Your Cart</a></li>
						<li style="float:left"><a href="/page11"id="aAddProduct">Add Products</a></li>
						<li><a href="/register" id="aRegister">Register</a></li>
						<li><a href="/login" id="aLogin">Login</a></li>
						<li><a href="#" id="aLogout" onclick="userLogout()">Logout</a></li>
						<li><a id="txtWelcome"></a></li>
				</ul>
		</div>
		<br>
		<a id = "aAddNewProduct"  href ="#" size="5px">Add a new product</a><br>
		<div id = "divAddProduct">
		</div>
		<div>
			<h4> List of Products<h4>
		</div>
		<div id = "divListProducts" style="padding:15px">
		</div>
		<br>
		<div id="divnextprev"></div>
	</body>
	<script src="script11.js" type="text/javascript"></script>
	</html>
