<html>
<head><title>Register</title>
  <link rel="stylesheet" href="commonstyle.css">
</head>
<body>
  <div id="menu" >
    <ul style="background-color:limegreen">
          <li style="float:left"><a href="/listproducts" id="aAddProduct">Shop</a></li>
          <li style="float:left"><a href="/checkout">Your Cart</a></li>
          <li style="float:left"><a href="/page11">Add Products</a></li>
          <li><a href="/register" id="aRegister">Register</a></li>
          <li><a href="/login" id="aLogin">Login</a></li>
          <li><a href="#" id="aLogout" onclick="userLogout()">Logout</a></li>
          <li><a id="txtWelcome"></a></li>
      </ul>
  </div>
  <div>
    <h4>Register</h4>
    </div>
    <div id='divregisterform'>
        <label>Name</label><br>
        <input type="text" id="inputName" name="name" placeholder="Enter Name" required>
        <br><br>
        <label>Username</label><br>
        <input type="text" id="inputUsername" name="username" placeholder="Enter Username" required>
        <br><br>
        <label>Password</label><br>
        <input type="password" id="inputPassword" name="password" placeholder="Enter Password" required onkeyup="checkpassword()">
        <br><br>
        <label>Retype Password</label><br>
        <input type="password" id="inputRePassword" name="password1" placeholder="Retype Password" required onkeyup="checkpassword()">
        <br><br>
        <p id="mismatcherror"></p>
        <p id="usernametaken"></p>
        <button id="btnregister" onclick="checkUsername()">Register</button>
      </div>
  </body>
  	<script src="register.js" type="text/javascript"></script>
  </html>
